<h1><%= @post.title %></h1>

<div id="post-body">
  <%= as_markdown(@post) %>
</div>

<br/>
<%= render("snarks.html", post: @post, changeset: @comment_changeset, action: Routes.comment_path(@conn, :create)) %>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
